:root {
  --primary-color: rgb(32, 189, 32);
  --secondary-color: rgb(170, 53, 209);
  --black-color: rgb(0, 0, 0);
  --gray-dark-color: #333;
  --gray-600-color: #4b5563;
  --gray-border-color: #c9c8c8;
  --white-color: #fafafa;
  --gray-light-color: #d1c7c7;
  --transition-duration: 0.3s;
  --max-width: 1400px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

ol,
ul {
  list-style: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}

img {
  border: 0px;
}

/* global css */
.container {
  max-width: 1400px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Navbar  */

header {
  position: relative;
  padding: 2rem 0;
  background: var(--white-color);
  border-bottom: 1px solid var(--gray-border-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-logo a {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--gray-600-color);
}

.navbar .navbar-links {
  display: flex;
  align-items: center;
}

.navbar .navbar-links a {
  font-size: 1rem;
  padding: 1rem;
  display: inline-block;
  color: var(--gray-600-color);
  transition: all linear var(--transition-duration);
}

.navbar .navbar-links a:hover {
  color: var(--primary-color);
}
.navbar-links .nav-link-fab {
  position: relative;
}
.navbar-links .nav-link-fab .favorite-count {
  position: absolute;
  top: 0;
  right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black-color);
}

/* moble menu */
.mobile-menu-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}
.mobile-menu-icon span {
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  border-radius: 0.2rem;
}

.mobile-menu-icon span:nth-child(2) {
  transform: translate(4px);
  transition: all linear var(--transition-duration);
}

.mobile-menu-icon:hover span:nth-child(2) {
  transform: translate(0);
}

/* hero  */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/hero.jpg);
  height: 600px;
  background-position: center;
  background-size: fixed;
  text-align: center;
  position: relative;
}

.hero::after {
  content: " ";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}
.hero .hero-content {
  font-size: 3rem;
  line-height: 1.4;
  z-index: 1;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5rem;
}

.hero .hero-content h1 {
  color: var(--primary-color);
  padding-bottom: 1.5rem;
}

.hero .hero-content h2 {
  color: var(--secondary-color);
}

.search-wr {
  padding: 5rem 0 0 0;
}
.search-wr .search-content {
  display: flex;
  justify-content: space-between;
}
.search-wr .search-form {
  width: 100%;
  position: relative;
  max-width: 30rem;
}
.search-wr .search-form input {
  height: 3.5rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--gray-border-color);
  border-radius: 0.5rem;
  font-size: 1rem;
}
.search-wr .search-form input:focus {
  outline: var(--primary-color);
}
.search-wr .search-form button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.9rem;
  border: 0;
  background: var(--primary-color);
  color: var(--white-color);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all linear var(--transition-duration);
}
.search-wr .search-form button:hover {
  opacity: 0.9;
}
.search-wr .search-filter {
  width: 100%;
  max-width: 15rem;
  height: 3.5rem;
  padding: 1rem;
  background: transparent;
  border: 1px solid var(--gray-border-color);
  border-radius: 0.5rem;
  font-size: 1rem;
}

.search-wr .search-filter:focus {
  outline: none;
}

/* Books   */

.books-wr {
  padding: 4rem 0;
}

.books-wr .books-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.books-wr .books-row.no-book-found-wr {
  grid-template-columns: repeat(1, 1fr);
}
.books-row .book {
  position: relative;
  border: 1px solid var(--gray-border-color);
  border-radius: 0.5rem;
  transition: all linear var(--transition-duration);
}

.books-row .book-content {
  padding: 1rem;
}
.books-row .book img {
  width: 100%;
  height: 250px;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  object-fit: cover;
}
.books-row .book-title {
  max-width: 289px;
  padding: 1rem 0 2rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 0.05rem;
  line-height: 1.6rem;
  color: var(--black-color);
  text-align: center;
}
.book-authors span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black-color);
}
.book-authors .book-author-name {
  padding: 1rem 0 0 1.3rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--black-color);
  letter-spacing: 0.05rem;
  list-style: decimal;
}

.book-authors .book-author-name li {
  padding: 0.5rem 0;
}

.book-author-name span {
  font-size: 1rem;
  font-weight: 600;
}
.book-content .book-genre {
  padding: 1rem 0;
  letter-spacing: 0.05rem;
}
.book-genre .book-genre-title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: var(--black-color);
}
.book-genre .book-genre-list {
  padding: 1rem 0 0 1.3rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--black-color);
  list-style: disc;
}
.book-genre .book-genre-list li {
  padding: 0.3rem;
}

.book-details-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 1rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  opacity: 0;
  z-index: -1;
  transition: all linear var(--transition-duration);
}
.books-row .book:hover {
  box-shadow: 0 16px 26px 0 rgba(0, 0, 0, 0.18);
  border-color: rgba(255, 255, 255, 0.8);
}
.books-row .book:hover .book-details-container {
  opacity: 1;
  z-index: 1;
}
.book-details-container button {
  margin: 0.5rem;
  width: 100%;
  padding: 0.5rem 0.8rem;
  color: var(--white-color);
  font-size: 2rem;
  transition: all linear var(--transition-duration);
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
}
.book-details-container .book-details {
  background: var(--primary-color);
  color: var(--gray-border-color);
}
.book-details-container .book-fab {
  background: var(--gray-600-color);
  color: var(--gray-border-color);
}
.book-details-container .book-fab.book-fab-active {
  background-color: var(--secondary-color) !important;
  color: var(--white-color);
}

.book-details-container button:hover {
  transform: translateY(-0.2rem);
  opacity: 0.8;
}

/* Favorite page */
.favorite-wr .fav-title {
  text-align: center;
  padding: 2rem;
}
.fav-book-row .book {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  border: 1px solid var(--gray-border-color);
  border-radius: 0.5rem;
}

.fav-book-row .book-fab-l {
  display: flex;
  gap: 2rem;
}

.fav-book-row .book img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.fav-book-row .book .book-title {
  padding-bottom: 0.5rem;
}

.fav-clear-all-wr {
  display: flex;
  justify-content: flex-end;
}

.fav-clear-all {
  padding: 0.5rem;
  margin-bottom: 2rem;
  background: var(--gray-border-color);
  color: var(--black-color);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.fav-clear-all.active-clear-btn {
  display: none;
}
.no-books-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 1.5rem;
}

/* Pagination */
.pagination-wr {
  padding-top: 5rem;
}
.pagination-wr .pagination-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.pagination-lists .pagination-list button {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-border-color);
  color: var(--black-color);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.06rem;
  border-radius: 0.5rem;
  border: 0;
}
.pagination-lists .pagination-list.active button {
  background: var(--primary-color);
  color: var(--white-color);
}

/*  */

.skeleton {
  background-color: var(--gray-light-color);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.skeleton::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: loading 1.2s infinite;
}

@keyframes loading {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}

.skeleton-cover {
  height: 300px;
  margin-bottom: 1rem;
}

.books-row .skeleton-content {
  flex-grow: 1;
}

.skeleton-title {
  height: 20px;
  margin-bottom: 10px;
}

/* Book details */
.book-detail-wr {
  padding: 3rem 0;
}
.book-detail-wr .book-detail {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.book-detail .book-detail-img {
  text-align: center;
  padding-bottom: 3rem;
  border-bottom: 2px solid var(--gray-border-color);
}

.book-detail .book-detail-img img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.book-detail-title {
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: var(--gray-600-color);
  border-bottom: 1px solid var(--gray-border-color);
}

.author-detail h3 {
  padding: 0.5rem 0;
}

.book-detail .book-detai-common {
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: var(--gray-600-color);
  border-bottom: 1px solid var(--gray-border-color);
}

/* responsive css */

@media (max-width: 1024px) {
  .books-wr .books-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  .mobile-menu-icon {
    display: flex;
  }

  .hero {
    height: 350px;
  }

  .hero .hero-content {
    padding: 0;
  }

  .hero .hero-content h2,
  .hero .hero-content h1 {
    font-size: 2rem;
  }

  .search-wr .search-content {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .books-wr .books-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .navbar .navbar-links {
    padding: 0;
    position: absolute;
    max-height: 0;
    width: 100%;
    flex-direction: column;
    top: 112px;
    background: var(--white-color);
    z-index: 9;
    left: 0;
    align-items: flex-start;
    box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all linear var(--transition-duration);
  }

  .navbar .navbar-links a {
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  .header-active .navbar-links {
    max-height: 100vh;
    padding: 1rem 0;
  }

  .fav-book-row .book-fab-l {
    flex-direction: column;
  }
  .fav-book-row .book button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
